@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap");

body {
  min-height: 100vh;
  background: #000000;
  background: radial-gradient(
    circle at center,
    #a65a5a 0.01%,
    #733d3d 0%,
    #332323 20%,
    #000000 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  all: unset;
}

.homeNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 40px;
}

#homeHeader {
  color: white;
}

.homeNav button {
  background-color: transparent;
  color: white;
  height: 30px;
  border: none;
  outline: none;
  font-size: 24.5px;
  text-shadow: 0.1px 0.1px 2px gray;
}

.homeNav button:hover {
  cursor: pointer;
  box-shadow: 0px 1px 0.1px white;
  text-shadow: 0.1px 0.1px 5px gray;
}

.homeNav .lsbtn {
  background-color: rgb(29, 28, 28);
  width: 130%;
  height: 130%;
  border-radius: 10px;
  box-shadow: 0px 0px 2px white;
}

.homeNav .lsbtn:hover {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0px 0px 5px white;
}

footer {
  background-color: rgba(128, 128, 128, 0.078);
  padding-bottom: 5%;
  margin-top: -9%;
  color: white;
}

#titl {
  display: flex;
  color: white;
  align-content: center;
  justify-content: center;
  background-image: url("image.png");
  background-size: 1200px;
  background-repeat: no-repeat;
  padding-bottom: 30%;
  margin-top: -100px;
}

fitulator {
  font-size: 200px;
  font-style: bold 500%;
  font-family: "Bebas Neue", sans-serif;
  margin-top: 12%;
}

fitulator:hover {
  color: rgb(119, 2, 2);
  text-shadow: 5px 10px 12px red;
}
